{% extends 'base.html.twig' %}

{% block title %}Últimas Noticias
{% endblock %}

{% block body %}
	<h1>Últimas Noticias</h1>

	{% for news in latestNews %}
		<div class="news-item">
			<h2>{{ news.title }}</h2>
			<p>{{ news.description }}</p>
			<img src="{{ fileUrl(news.filePath ~ '/' ~ news.mainPhoto, {signed: true}) }}" alt="{{ news.title }}" class="news-image">
			{# <a href="{{ path('news_detail', {'id': news.id}) }}" class="read-more">Leer más</a> #}
		</div>
	{% else %}
		<p>No hay noticias disponibles.</p>
	{% endfor %}
{% endblock %}
