{% extends 'base.html.twig' %}

{% block title %}Categorías
{% endblock %}

{% block body %}
	<h1>Categorías</h1>
	<a href="{{ path('category_new') }}">Crear Nueva Categoría</a>

	<table>
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			{% for category in categories %}
				<tr>
					<td>{{ category.name }}</td>
					<td>
						<a href="{{ path('category_show', {'id': category.id}) }}">Ver</a>
						<a href="{{ path('category_edit', {'id': category.id}) }}">Editar</a>
						<form action="{{ path('category_delete', {'id': category.id}) }}" method="post" onsubmit="return confirm('¿Estás seguro?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
							<button type="submit">Eliminar</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
