{% extends 'base.html.twig' %}

{% block title %}Categoría:
	{{ category.name }}
{% endblock %}

{% block body %}
	<h1>Categoría:
		{{ category.name }}</h1>
	<a href="{{ path('category_edit', {'id': category.id}) }}">Editar</a>
	<form action="{{ path('category_delete', {'id': category.id}) }}" method="post" onsubmit="return confirm('¿Estás seguro?');">
		<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
		<button type="submit">Eliminar</button>
	</form>
	<a href="{{ path('category_index') }}">Volver a la lista</a>
{% endblock %}
